


 .cardDevNote{
  font-size:.7em;
  font-style: italic;
  display:block;
}


.card {
    width: auto;
    height: auto;
    background: #fff;
    border-radius: 5px;
    /* background-image: url(https://drscdn.500px.org/photo/435236/q%3D80_m%3D1500/v2?webp=true&sig=67031bdff6f582f3e027311e2074be452203ab637c0bd21d89128844becf8e40); */
    background-size: cover;
    background-position: center center;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.5s;
    will-change: transform;
    border: 15px solid white;
  }
  
  .card:hover {
    box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
  }
  

  .card-plain{
    width: auto;
    height: auto;
    background: #fff;
    border-radius: 5px;
    background-size: cover;
    background-position: center center;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.5s;
    will-change: transform;
    border: 15px solid white;

    padding:15px;
    margin:15px;
  }

  .cardInput{
    margin-top:5px;
    margin-bottom:15px;
    border: none;
    outline: none;
    border: solid 1px #ddd;
    border-radius: 4px;
    padding: 10px;
    font-size:.8em;
   
    width:100%;

  }

 

   .ProfileCardForm label{
     text-align:left;
   }
   
   .cardButton{
    margin-top:1em;
    margin-bottom:1em;
    border: none;
    outline: none;
    border: solid 1px #ddd;
    border-radius: 4px;
    padding: 10px;
    font-size:.8em;

  }
.cardCategory{
  color:blue;
}
.cardPostType{
   font-style:italic;

}
  .cardSelect{
    padding: .5em;
    margin-top: 1em;
    /* border:none; */
    /* outline: none; */
    min-width:90px;
    border: solid 1px #ddd !important;
    border-radius: 4px;
    width:100%;
  }
 .cardTextarea{
   height:100px;
   width:100%;
   margin-top:1em;
   border:solid 1px #ddd ;
   border-radius:4px;
 }
  .cardIcon{
    font-size: .8em !important;
    margin-left:.8em;
  }

 

  .cardImageGrid{
    display:flex;
    align-items:center;
    justify-content:center;

  }
  .cardImg{
    height:120px;
    border-radius: 4px;
  }
  .cardTitle{
    font-weight:bold;
  }
  .cardDescription{

  }
  .cardContactInfo {
    font-style:italic;
    margin:1em;
  }

  .cardDetailsContainer{

  }

  .EditPostCardForm{
    display:flex;
    padding: 1em;


  }

  .cardGridContainer{
    padding: 1em;
  }
  .PostCreateCardForm{
    

  }
  .cardLabel{
    color: #333;
    font-size:.8em;
    margin-top: 1em;
   

  }
  .cardLabelContainer{
    padding-top:15px;
    margin-top: 2em;
    text-align:left;  
  }