

 .appDevNote{
  font-size:.7em;
  font-style: italic;
  display:none;
}


body, html {
  height: 100%;
  margin: 0;
}

.App {
  text-align: center;
}
 
.appIcon{
  font-size: .8em !important;
  margin-left:.8em;
}
.appAnchor{
  text-decoration:none;
  color:#222;
}

 button{
  margin:1em;

  border: none;
  outline: none;
  border: solid 1px #ddd;
  border-radius: 4px;
  padding: 10px;
  font-size:.8em;

}

.appInput{
  border: none;
  outline: none;
  border: solid 1px #ddd;
  border-radius: 4px;
  padding: 10px;
  font-size:.8em;
  width:100%;

}
.appInputAuto{
  border: none;
  outline: none;
  border: solid 1px #ddd;
  border-radius: 4px;
  padding: 10px;
  font-size:.8em;
  width:auto;
}
 .appTinyInput{
  border: none;
  outline: none;
  border: solid 1px #ddd;
  border-radius: 4px;
  padding: 5px;
  font-size:.8em;
  width:50px;
  max-width:50px;

} 

.appSelect{
  padding: .5em;
  border: none;
  outline: none;
  margin-top: 1em;
  min-width:90px;
  border: solid 1px #ddd !important;
  border-radius: 4px;
  width:100%;
}

.component-full-background-image {
  /* The image used */
  background-image: url(./app/assets/img/pexels-laurie-shaw-804392.jpg); 


  /* Full height */
  height: 100%; 
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.component-background-image {
  background-image: url(./app/assets/img/BulletinBoard-1blur.jpg); 

   
  height: 100%; 
  
   background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}

.server-background-image {
  background-image: url(./app/assets/img/waiter_saw_finished_resize_blur_1000_transp.png); 
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}
.brandname{
  color:#f7b72b;
  /* font-family:'Courier New', Courier, monospace; */
  font-family:Arial, Helvetica, sans-serif;
  font-size:1.7em;
  font-weight:bold;
  text-shadow: .5px 0px 1px #222;
  padding: 0 ;
  margin: 0;
}
.logo {
  background-image: url(./app/assets/img/servewerx_level_scale-1.0-h100.png); 
  height: 40px;
   /* background-position: center; */
  background-repeat: no-repeat;
  background-size: contain; 
}
 
.server_logo {
  background-image: url(./app/assets/img/waiter_saw_finished_resize_200.jpg); 
  height: 60px;
   /* background-position: center; */
  background-repeat: no-repeat;
  background-size: contain; 
}

.server-logo-transparent {
  background-image: url(./app/assets/img/waiter_saw_finished_resize_986_transp.png); 
  height: 500px ;
    background-position: center; 
  background-repeat: no-repeat;
  background-size: contain; 
}

.brand_name_logo {
  background-image: url(./app/assets/img/servewerx_with_saw_croped.png); 
  height: 50px;
   /* background-position: center; */
  background-repeat: no-repeat;
  background-size: contain; 
}

.main-component-container{
   
  /* border:dotted 1px white; */
  padding-top:100px;
  min-height:100vh;
  padding-bottom:100px;
}
/* .navigation-container{
  padding-top:100px;
  border:solid 10px red;
  height:100%;
} */
.appPage{
  background:#fff;
}
.pageTitle{
   
}
.filterButton{
  margin-right:5px;
  margin-left:5px;
  cursor:pointer;
}
 


.cardDevNote{
  font-size:.7em;
  font-style: italic;
  display:block;
}


.card {
    width: auto;
    height: auto;
    background: #fff;
    border-radius: 5px;
    /* background-image: url(https://drscdn.500px.org/photo/435236/q%3D80_m%3D1500/v2?webp=true&sig=67031bdff6f582f3e027311e2074be452203ab637c0bd21d89128844becf8e40); */
    background-size: cover;
    background-position: center center;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.5s;
    will-change: transform;
    
  }
  
  .card:hover {
    box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
  }
  

  .card-plain{
    width: auto;
    height: auto;
    background: #fff;
    border-radius: 5px;
    background-size: cover;
    background-position: center center;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.5s;
    will-change: transform;
    border: 15px solid white;

    padding:15px;
    margin:15px;
  }

  .cardInput{
    margin-top:5px;
    margin-bottom:15px;
    border: none;
    outline: none;
    border: solid 1px #ddd;
    border-radius: 4px;
    padding: 10px;
    font-size:.8em;
   
    width:100%;

  }

 

   .ProfileCardForm label{
     text-align:left;
   }
   
   .cardButton{
    margin-top:1em;
    margin-bottom:1em;
    border: none;
    outline: none;
    border: solid 1px #ddd;
    border-radius: 4px;
    padding: 10px;
    font-size:.8em;

  }
.cardCategory{
  color:blue;
}
.cardPostType{
   font-style:italic;

}
  .cardSelect{
    padding: .5em;
    margin-top: 1em;
    /* border:none; */
    /* outline: none; */
    min-width:90px;
    border: solid 1px #ddd !important;
    border-radius: 4px;
    width:100%;
  }
 .cardTextarea{
   height:100px;
   width:100%;
   margin-top:1em;
   border:solid 1px #ddd ;
   border-radius:4px;
 }
  .cardIcon{
    font-size: .8em !important;
    margin-left:.8em;
  }

 

  .cardImageGrid{
    display:flex;
    align-items:center;
    justify-content:center;

  }
  .cardImg{
    height:120px;
    border-radius: 4px;
  }
  .cardTitle{
    font-weight:bold;
  }
  .cardDescription{

  }
  .cardContactInfo {
    font-style:italic;
    margin:1em;
  }

  .cardDetailsContainer{

  }

  .EditPostCardForm{
    display:flex;
    padding: 1em;


  }

  .cardGridContainer{
    padding: 1em;
  }
  .PostCreateCardForm{
    

  }
  .cardLabel{
    color: #333;
    font-size:.8em;
    margin-top: 1em;
   

  }
  .cardLabelContainer{
    padding-top:15px;
    margin-top: 2em;
    text-align:left;  
  }
  /* style={{background:"#eee" ,borderRadius:"15px",marginTop:"20px"}} */
  .cardCard{
    padding: 20px 20px 20px 20px ;
    background:#fff;
     box-shadow: 2px 2px 10px #000;
    border-radius: 15px ;
    margin-top:20px;
  }
.radioLabel{
font-size:.8em;
 
 margin-right:3px;
}
.radioInput{
  font-size:1em;
}



.homeCard{
  /* opacity:.9; */
  box-shadow: 2px 2px 10px #000;
}
 .innerHomeCard{
   height:"125px !important";
   padding:"50px"

 }




  @media only screen and (max-width: 600px) {
    /* 600 or LESS */
  }
  
  @media only screen and (min-width: 601px) {
     /* Greater Than 600 */
    .cardCard{
      padding: 20px 20px 20px 20px ;
    }
  }

  .trim{
    padding:0;
    margin:0;
  }

  .pageGreeting{
     
  }
@media only screen and (max-width: 600px) {
   
}

@media only screen and (min-width: 601px) {
  
}