



body, html {
  height: 100%;
  margin: 0;
}

.App {
  text-align: center;
}
 
.appIcon{
  font-size: .8em !important;
  margin-left:.8em;
}

 button{
  margin:1em;

  border: none;
  outline: none;
  border: solid 1px #ddd;
  border-radius: 4px;
  padding: 10px;
  font-size:.8em;

}

.appInput{
  margin-top:15px;
  border: none;
  outline: none;
  border: solid 1px #ddd;
  border-radius: 4px;
  padding: 10px;
  font-size:.8em;
 
  width:100%;

}
.appInputAuto{
  margin-top:15px;
  border: none;
  outline: none;
  border: solid 1px #ddd;
  border-radius: 4px;
  padding: 10px;
  font-size:.8em;
 
  width:auto;

}

.appSelect{
  padding: .5em;
  border: none;
  outline: none;
  margin-top: 1em;
  min-width:90px;
  border: solid 1px #ddd !important;
  border-radius: 4px;
  width:100%;
}

.component-full-background-image {
  /* The image used */
  background-image: url(./app/assets/img/pexels-laurie-shaw-804392.jpg);

  /* Full height */
  height: 100%; 
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-component-container{
   
  /* border:dotted 1px white; */
  min-height:100vh;
  padding-bottom:100px;
}
/* .navigation-container{
  padding-top:100px;
  border:solid 10px red;
  height:100%;
} */